.bar-nav {
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-brand {
    color: white; 
  }
  
  .navbar-nav {
    text-align: center;
  }